Repository Exemplify777/aws-cdk-devsecops-platform: changes, and which pre-commit hooks are due for each by the changed paths.
All: cdk-synth, security-baseline-check

cdk-synth:
  name: cdk-synth
  entry: cdk
  language: system
  pass_filenames: false
  args:
  - synth
  - --quiet

security-baseline-check:
  name: security-baseline-check
  entry: python
  language: system
  pass_filenames: false
  args:
  - -c
  - import subprocess; subprocess.run(["bandit", "-r", "infrastructure/", "platform/", "-f", "json", "-o", "/tmp/bandit-report.json"], check=False)

Implement comprehensive security & compliance framework
  docs/index.md
  mkdocs.yml
  security/__init__.py
  security/compliance.py
  security/rules/gdpr.yaml
  security/rules/iso27001.yaml
  security/rules/soc2.yaml
  security/scanner.py
Due: security-baseline-check

Complete DevSecOps platform implementation with comprehensive README
  README.md
Due: none

Add platform analysis, testing, and status report
  PLATFORM_STATUS.md
  scripts/analyze_platform.py
  scripts/test_platform.py
Due: security-baseline-check

Add comprehensive documentation and missing platform components
  .env.example
  CHANGELOG.md
  CONTRIBUTING.md
  LICENSE
  analysis_report.json
  app.py
  docs/architecture/overview.md
  docs/developer-guide/extending.md
  docs/getting-started/installation.md
  docs/getting-started/quickstart.md
  docs/index.md
  docs/operations/deployment.md
  docs/security/overview.md
  platform/ai-tools/__init__.py
  platform/portal/__init__.py
  requirements.txt
  security/rules/__init__.py
  setup.py
  test_report.json
  tests/api/__init__.py
  tests/infrastructure/__init__.py
  tests/integration/__init__.py
  tests/integration/test_cli_integration.py
  tests/performance/__init__.py
  tests/smoke/__init__.py
  tests/unit/__init__.py
  tests/unit/test_security_scanner.py
Due: cdk-synth, security-baseline-check

Complete documentation system with comprehensive API reference and user guides
  docs/api/cli.md
  docs/api/index.md
  docs/api/python.md
  docs/api/rest.md
  docs/compliance/soc2.md
  docs/tutorials/first-pipeline.md
  docs/tutorials/ml-workflow.md
  docs/user-guide/cli.md
  docs/user-guide/portal.md
  docs/user-guide/templates.md
  mkdocs.yml
Due: none

Fix broken navigational links by creating all missing documentation files
  docs/architecture/data-pipeline.md
  docs/architecture/infrastructure.md
  docs/architecture/monitoring.md
  docs/architecture/security.md
  docs/changelog.md
  docs/faq.md
  docs/getting-started/configuration.md
  docs/index.md
  docs/operations/monitoring.md
  docs/user-guide/best-practices.md
Due: none

Create enterprise-grade CDK constructs library foundation with AI-powered assistance
  infrastructure/constructs/__init__.py
  infrastructure/constructs/common/__init__.py
  infrastructure/constructs/common/base.py
  infrastructure/constructs/common/config.py
  infrastructure/constructs/common/mixins.py
  infrastructure/constructs/common/types.py
  infrastructure/constructs/common/utils.py
  infrastructure/constructs/common/validators.py
  infrastructure/constructs/data_ingestion/__init__.py
  infrastructure/constructs/data_ingestion/api_ingestion.py
  infrastructure/constructs/data_ingestion/raw_data_ingestion.py
  infrastructure/constructs/data_ingestion/streaming_ingestion.py
Due: cdk-synth, security-baseline-check

Add comprehensive CDK constructs library documentation
  docs/developer-guide/constructs.md
Due: none

Complete data ingestion constructs and add infrastructure constructs
  infrastructure/constructs/data_ingestion/__init__.py
  infrastructure/constructs/data_ingestion/batch_ingestion.py
  infrastructure/constructs/data_ingestion/database_ingestion.py
  infrastructure/constructs/data_ingestion/file_ingestion.py
  infrastructure/constructs/data_ingestion/realtime_ingestion.py
  infrastructure/constructs/infrastructure/__init__.py
  infrastructure/constructs/infrastructure/dynamodb_construct.py
  infrastructure/constructs/infrastructure/lambda_construct.py
  infrastructure/constructs/infrastructure/vpc_construct.py
  infrastructure/constructs/messaging/__init__.py
  infrastructure/constructs/messaging/msk_construct.py
Due: cdk-synth, security-baseline-check

Complete enterprise CDK constructs library with production readiness
  README.md
  analysis_report.json
  docs/operations/deployment.md
  docs/production/production-readiness-checklist.md
  infrastructure/constructs/ai_ml/__init__.py
  infrastructure/constructs/ai_ml/bedrock_construct.py
  infrastructure/constructs/infrastructure/ec2_construct.py
  infrastructure/constructs/infrastructure/ecs_construct.py
  infrastructure/constructs/infrastructure/rds_construct.py
  scripts/deploy-production.sh
Due: cdk-synth, security-baseline-check

Complete enterprise CDK constructs library - 100% PRODUCTION READY
  infrastructure/constructs/ai_ml/__init__.py
  infrastructure/constructs/ai_ml/model_deployment_construct.py
  infrastructure/constructs/ai_ml/sagemaker_construct.py
  infrastructure/constructs/messaging/kinesis_construct.py
  infrastructure/constructs/messaging/sns_construct.py
  infrastructure/constructs/messaging/sqs_construct.py
Due: cdk-synth, security-baseline-check

Complete enterprise CDK constructs library with messaging and AI/ML constructs
  requirements-dev.txt
Due: none

Complete enterprise CDK constructs library with comprehensive conventions and documentation
  README.md
  docs/conventions/aws-resource-naming.md
  docs/conventions/aws-resource-tagging.md
  docs/conventions/validation-framework.md
  infrastructure/constructs/common/base.py
  infrastructure/constructs/common/conventions.py
  infrastructure/constructs/data_ingestion/raw_data_ingestion.py
  tests/unit/test_conventions.py
Due: cdk-synth, security-baseline-check

Complete comprehensive gap analysis and fixes for enterprise CDK constructs library
  README.md
  infrastructure/constructs/__init__.py
  infrastructure/constructs/ai_ml/sagemaker_construct.py
  infrastructure/constructs/common/conventions.py
  infrastructure/constructs/common/mixins.py
  infrastructure/constructs/infrastructure/__init__.py
  infrastructure/constructs/infrastructure/dynamodb_construct.py
  infrastructure/constructs/infrastructure/lambda_construct.py
  infrastructure/constructs/messaging/sns_construct.py
  infrastructure/constructs/messaging/sqs_construct.py
  platform_tools/__init__.py
  platform_tools/ai-tools/__init__.py
  platform_tools/cli/__init__.py
  platform_tools/cli/aws.py
  platform_tools/cli/config.py
  platform_tools/cli/github.py
  platform_tools/cli/main.py
  platform_tools/cli/templates.py
  platform_tools/portal/__init__.py
  tests/unit/test_conventions.py
Due: cdk-synth, security-baseline-check

Updated template names
  .env.example
  CHANGELOG.md
  CONTRIBUTING.md
  LICENSE
  PLATFORM_STATUS.md
  README.md
  app.py
  docs/api/cli.md
  docs/architecture/overview.md
  docs/changelog.md
  docs/developer-guide/constructs.md
  docs/faq.md
  docs/getting-started/configuration.md
  docs/getting-started/installation.md
  docs/getting-started/quickstart.md
  docs/index.md
  docs/operations/deployment.md
  docs/tutorials/first-pipeline.md
  docs/user-guide/cli.md
  mkdocs.yml
  platform_tools/cli/main.py
  pyproject.toml
  setup.py
  test_report.json
Due: cdk-synth, security-baseline-check

Path conditions:
  cdk-synth: any of: ^(infrastructure/|app\.py|cdk\.json|requirements\.txt)
  security-baseline-check: any of: \.py$
